
table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
}

th{
  cursor: pointer;
}

th,td {
  padding: 10px;
  text-align: center;
  vertical-align: baseline;
  border: 1px solid;
}

.user-name{
  pointer-events: none;
}

.user-details{
  height: 0;
  overflow: hidden;
  transition: all 500ms linear;
}